*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --primaryColor:#016cbf;
    --secondColor:#b4a5a5;
    --backgroundColor:rgb(247, 247, 247);
    --textColor1:rgb(10, 10, 10);
    --textColor2:gray;
    --onprimaryColor:rgb(255, 255, 255);
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    width: 800px;
    height: 400px;
    background-color:var(--backgroundColor);
    box-shadow: 1px 8px 11px 3px rgba(0,0,0,0.46);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}
.about-shoes{
    margin-left: 40px;
    margin-top: 20px;
    width: 50%;
}
.about-shoes h2{
    text-transform: uppercase;
    color: var(--textColor1);
}

.star img{
    width:18px ;
    height: 18px;
    margin-top: 4px;
}
.about-shoes p{
    color: var(--textColor2);
    margin-top: 30px;
    font-size: 16px;
    line-height: 22px;
}
.button{
    /* width: 180px; */
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: var(--primaryColor);
    border-radius: 8px;
    margin-bottom: 30px;
    position: absolute;
    bottom: 00px;
    left: 65px;
}
.button:hover{
    background-color: var(--secondColor);
}
.price{
    color: var(--onprimaryColor);
    background-color: var(--textColor1);
    border-radius: 8px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy{
    text-decoration: none;
    color: var(--onprimaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}
.image-shoes {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 50%;
    display: inline-block;
  }

.image-shoes img{
    width: 400px;
    height: 400px;
}
.description {
    background: rgba(27, 26, 26, 0.9);
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: pointer;
    color: var(--backgroundColor);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .description h2 {
    text-align: center;
    margin-top: 30px;
  }
  .image-shoes:hover .description {
    transform: translateX(0);
  }
  .description ul  {
    margin-left: 30px;
  }
  .description ul li {
    transition: 0.3s ease;
  }
  .description ul li:hover {
    transform: translateX(50px) scale(1.3);
  }
  .image-shoes:hover img {
    transition: all 0.3s ease-out;
  }
  .image-shoes:hover img {
    transform: scale(1.2, 1.2);
  }
  


